<!-- <p>add-server works!</p>
<div class="server">
    
    <ul class="list-group">
      <li class="list-group-item">
        <h4>Id: {{Server.id}}</h4>
        <h4>Name: {{Server.name}}</h4>
        <h4 style="display: inline;" >Status: {{Server.active==true ?'Active' : 'Not Active'}} </h4>         
        <button type="button" (click)="changeStatus()" class="btn btn-primary">Change Status</button>
      </li>
      <div class="btn-group" role="group" aria-label="Basic example">
      </div> 
      

    </ul>
    <button type="submit" class="btn btn-primary w-100" (click)="addServer()" >Add Server</button>

  </div>
 -->