.mydiv{
    padding: 80px 200px 50px 280px ;
}
.activeServer{
    color: green;
}
.notActive{
    color: red;
}
.inline{
    display: inline;
}
a{
    font-family: 'Recursive', sans-serif;
}
h1{
    font-family: 'Bebas Neue', cursive;
}
ooter a.text-light:hover { color: #fed136!important; text-decoration: none; }
footer .cizgi { border-right: 1px solid #535e67; }
@media (max-width: 992px) { footer .cizgi { border-right: none; } }